<div class="hero-unit">
 <h1>Cryptoball</h1>
<!--   <div class="crypto-logo">
  </div> -->
  <div class="about">
    <p>Real time encryption and decryption using the Advanced Encryption Standard (AES). AES is a U.S. Federal Information Processing Standard (FIPS). This standard was selected after a 5-year process where 15 competing designs were evaluated. Generates a 256-bit key (AES-256).</p>
  </div>
  <h3>Encrypt</h3>
  <p>Insert message</p>
  <input type="text" ng-model="inputMessage" ng-change="encryptor()"/>
  <p>Insert secret passphrase</p>
  <input type="text" ng-model="secretPassphrase" ng-change="encryptor()"/>
  <p>Encrypted:</p> <p class="crypto-msg">{{ encrypted.toString(CryptoJS.enc.Utf8) }}</p>
  <hr>
  <!--   {{ encrypted }} -->
  <h3>Decrypt</h3>
  <p>Insert encrypted message</p>
  <input type="text" ng-model="encryptedMsg" ng-change="decryptor()"/>
  <p>Insert secret passphrase</p>
  <input type="text" ng-model="secretPassphrase" ng-change="decryptor()"/>
  <h3>Result</h3>
  <p class="crypto-msg">{{ decrypted }}</p>
</div>
