<div class="hero-unit">
  <h1>Cryptoball</h1>
  <p>Main view</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <input type="text" ng-model="inputMessage" ng-change="concatString()"/>
  <p>{{ inputMessage }}</p>
  <p>{{ newMsg }}</p>
  <input type="text" ng-model="$scope.newMessage"/><br> {{ message}} <br>
  {{ $scope.newMessage }}
  <p>Input message</p>
  <input type="text" ng-model="inputMessage" ng-change="encryptor()"/>
  <p>Secret Passphrase</p>
  <input type="text" ng-model="secretPassphrase" ng-change="encryptor()"/>
  <h3>Cyphertext</h3>
  {{ encrypted }}
  <p>Desencrypt</p>
  <input type="text" ng-model="encryptedMessage" ng-change="desencryptor()"/>
</div>
